.panel-heading a.expander:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.expander.collapsed:after {
    content:"\e080";
}

.angular-google-map-container {
    width: 100%;
    height: 400px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}


/* uncomment this if you are using the <google-map> element instead of a div
.angular-google-map {
  display: block;
  }*/


a.play-button-link {
	position:relative;
	display:inline-block;
	line-height:0px;
}

/*#home-content-stories img.play-button, */
a.play-button-link img.play-button {
	border: 0px solid blue;/*Temporary border to show play button location*/
    position: absolute;
	bottom: 25%;
	left: 50%;
	z-index: 10;
	margin: 0 0 0 -32px;
	opacity:0.6;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";*/ /*IE fix for alpha transparency, however it doesn't work with transparent .pngs*/
	display:inline-block;
	/*max-width: 20%;	*/
}

/*#home-content-stories img.play-button:hover, */
a.play-button-link:hover img.play-button {
	opacity:1.0;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/ /*IE fix for alpha transparency, however it doesn't work with transparent .pngs*/
}
.play-button-container {
    /* text-align: center; */
}

#footer {
  width: 100%;
  color: #ecf0f1;
  background-color: #2ecc71;
  /*margin-top:50px;*/
  padding-top:20px;
  padding-bottom:20px;
}

#footer a {
    color: #ecf0f1
}

#footer a:hover {
    color: #d1ffed
}