<div id="map_canvas" >
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>

<btf-markdown>
Адрес Дома Культуры:

67620, с.Выгода, Беляевский район, Одесская область

ул. 50 Лет Октября, 46

Директор:

Курманевич Оксана Александровна

Приемные дни:

Понедельник, четверг

С 8:00 до 12:00

e-mail: [dk@vygoda.od.ua](mailto:dk@vygoda.od.ua)
</btf-markdown>