<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">
            <div>{{event.created | date: 'HH:mm:ss'}}</div>
            <div>{{event.created | date: 'dd.MM.yyyy'}}</div>
        </div>
        <div class="pull-right" ng-show="isAuthenticated && !preview">
            <a href="#/edit/event/{{event.objectId}}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <div class="text-center"><a href="#/events/{{event.objectId}}"><h4>{{event.title}}</h4></a></div>

    </div>
    <div class="panel-body">
        <div btf-markdown="event.summary"></div>
        <div ng-show="!detailed"><a href="#/events/{{event.objectId}}">Подробнее...</a></div>
        <div ng-show="detailed" btf-markdown="event.content"></div>
        <div>Автор: {{event.author}}</div>
    </div>
</div>

<div class="comments" ng-show="detailed">
    <div class="fb-comments" onrender="fbLikeRendered()"
         data-href="{{ location.absUrl() }}"
         data-layout="standard"
         data-action="like"
         data-show-faces="true"
         data-share="true"></div>
</div>