<h2>Расписание автобусов</h2>
<btf-markdown>
#### Одесса - Петровское (через рынок 7 км, Авангард, В.Дальник, Курган, Березань, Выгода)

* Время отправления с автовокзала "Привоз" (26-ая платформа): 9:00, 10:30, 12:30, 15:00, 17:30, 19:00

#### Петровское - Одесса (через Выгоду, Березань, Курган, В.Дальник, Авангард, рынок 7 км)

* Время отправления из с.Выгода (ул. Елеваторная-напротив амбулатории, Питомник): 05:50, 07:00, 10:25, 12:30, 14:00, 17:00
________________________________________________________

#### Одесса - Выгода (через Алтестово, Палиевка, Червона Зирка, Выгода)

* Время отправления с автовокзала "Привоз" (1-ая платформа): 08:40, 11:45, 17:45

#### Выгода - Одесса (через Червона Зирка, Палиевка, Алтестово)

* остановка АЗС, магазин "Весна", ул.Шилова: 05:30

* универсам "Выгода", ул.Шилова: 10:00

* жд вокзал-рынок, магазин "Весна", ул.Шилова: 14:50

</btf-markdown>