<h2>Телефонный справочник села Выгода</h2>
<table class="table table-bordered table-striped">
	<tr>
		<td>
			Выгодянский
			сельский совет
		</td>
		<td>
			Председатель:<br/>
			5-14-90<br/>
			Секретарь:<br/>
			5-14-01
		</td>
	</tr>
	<tr>
		<td>
			Школа
			с. Выгода
		</td>
		<td>
			5-12-85
		</td>
	</tr>
	<tr>
		<td>
			Больница
		</td>
		<td>
			Дежурная
			медсестра:<br/>
			5-13-81
		</td>
	</tr>
	<tr>
		<td>
			Почта
		</td>
		<td>
			Отделение
			связи:<br/>
			5-15-16<br/>
			АМТС:<br/>
			5-14-40<br/>
			5-12-33
		</td>
	</tr>
</table>


<h3>АБ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адреса
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Абрамова
			А. Н.
		</td>
		<td>
			Юбилейная.
			48
		</td>
		<td>
			51527
		</td>
	</tr>
	<tr>
		<td>
			Авраменко
			В.М.
		</td>
		<td>
			Зеленая.
			32
		</td>
		<td>
			51193
		</td>
	</tr>
	<tr>
		<td>
			Андреев
			И.Г.
		</td>
		<td>
			Пер.
			Железнодорожный,
			8
		</td>
		<td>
			51512
		</td>
	</tr>
	<tr>
		<td>
			Андреева
			Е.И
		</td>
		<td>
			Элеваторная,
			4/13
		</td>
		<td>
			51134
		</td>
	</tr>
	<tr>
		<td>
			Асаулова
			А.И.
		</td>
		<td>
			Шилова,
			154
		</td>
		<td>
			51372
		</td>
	</tr>
	<tr>
		<td>
			Ахрамовская
			В.М.
		</td>
		<td>
			Победы,
			35
		</td>
		<td>
			51105
		</td>
	</tr>
	<tr>
		<td>
			Ахрамовская
			Э.А.
		</td>
		<td>
			Шилова,
			57
		</td>
		<td>
			51416
		</td>
	</tr>
	<tr>
		<td>
			Бабин
			А.В.
		</td>
		<td>
			50
			Лет Октября,
			16
		</td>
		<td>
			51117
		</td>
	</tr>
	<tr>
		<td>
			Бабичко
			Ф.И.
		</td>
		<td>
			Школьная,
			21
		</td>
		<td>
			51302
		</td>
	</tr>
	<tr>
		<td>
			Бабыкина
			А.А.
		</td>
		<td>
			Олимпийская,
			8
		</td>
		<td>
			51278
		</td>
	</tr>
	<tr>
		<td>
			Бадюк
			В.Т.
		</td>
		<td>
			Победы,
			В
		</td>
		<td>
			51220
		</td>
	</tr>
	<tr>
		<td>
			Бажора
			А.Л.
		</td>
		<td>
			Ленина,
			63а/14
		</td>
		<td>
			39407
		</td>
	</tr>
	<tr>
		<td>
			Байранл.С.
		</td>
		<td>
			Космонавтов,
			69
		</td>
		<td>
			51426
		</td>
	</tr>
	<tr>
		<td>
			Бакалинал.Б.
		</td>
		<td>
			Космонавтов,
			59
		</td>
		<td>
			51410
		</td>
	</tr>
	<tr>
		<td>
			Баньковская
			Н.Н.
		</td>
		<td>
			Новоселов,
			27
		</td>
		<td>
			51553
		</td>
	</tr>
	<tr>
		<td>
			Бездетко
			Ж. Д
		</td>
		<td>
			Элеваторная,
			16
		</td>
		<td>
			51433
		</td>
	</tr>
	<tr>
		<td>
			Беляева
			М.А.
		</td>
		<td>
			Мира,
			23б
		</td>
		<td>
			51272
		</td>
	</tr>
	<tr>
		<td>
			Береза
			В.М
		</td>
		<td>
			Новоселов,
			13а
		</td>
		<td>
			51319
		</td>
	</tr>
	<tr>
		<td>
			Берекет
			Н. И.
		</td>
		<td>
			Южная,
			13
		</td>
		<td>
			51589
		</td>
	</tr>
	<tr>
		<td>
			Беркута
			Е.И
		</td>
		<td>
			Победы,
			71
		</td>
		<td>
			51550
		</td>
	</tr>
	<tr>
		<td>
			Беспалько
			О.М.
		</td>
		<td>
			Комарова,
			8
		</td>
		<td>
			51585
		</td>
	</tr>
	<tr>
		<td>
			Бех
			И.В.
		</td>
		<td>
			Железнодорожная.
			38/7
		</td>
		<td>
			51363
		</td>
	</tr>
	<tr>
		<td>
			Блушкевич
			И.Д.
		</td>
		<td>
			50
			Лет Октября,
			42
		</td>
		<td>
			51127
		</td>
	</tr>
	<tr>
		<td>
			Богодаева
			А.С.
		</td>
		<td>
			Победы,
			57
		</td>
		<td>
			51598
		</td>
	</tr>
	<tr>
		<td>
			Бондаренко
			А.Е.
		</td>
		<td>
			Железнодорожная,
			17
		</td>
		<td>
			51154
		</td>
	</tr>
	<tr>
		<td>
			Бондаренко
			В.Л.
		</td>
		<td>
			Новоселов,
			29
		</td>
		<td>
			51554
		</td>
	</tr>
	<tr>
		<td>
			Бондарук
			В. А.
		</td>
		<td>
			50
			Лет Октября,
			5
		</td>
		<td>
			51403
		</td>
	</tr>
	<tr>
		<td>
			Бондарук
			И.П.
		</td>
		<td>
			Школьная,
			4
		</td>
		<td>
			51257
		</td>
	</tr>
	<tr>
		<td>
			Бондарчук
			С.В.
		</td>
		<td>
			Зеленая,
			29
		</td>
		<td>
			51184
		</td>
	</tr>
	<tr>
		<td>
			Бондарь
			О. Д.
		</td>
		<td>
			Элеваторная,
			5/8
		</td>
		<td>
			51579
		</td>
	</tr>
	<tr>
		<td>
			Бондра
			А.В.
		</td>
		<td>
			Зеленая,
			39
		</td>
		<td>
			51446
		</td>
	</tr>
	<tr>
		<td>
			Бондра
			Н.К,
		</td>
		<td>
			Винявското,
			5/16
		</td>
		<td>
			51394
		</td>
	</tr>
	<tr>
		<td>
			Борж
			А.П.
		</td>
		<td>
			Южная,
			31
		</td>
		<td>
			51179
		</td>
	</tr>
	<tr>
		<td>
			Босусевич
			Т.Н.
		</td>
		<td>
			Победы,
			17
		</td>
		<td>
			51210
		</td>
	</tr>
	<tr>
		<td>
			Бражецкая
			Н.Л.
		</td>
		<td>
			Школьная,
			В
		</td>
		<td>
			51305
		</td>
	</tr>
	<tr>
		<td>
			Буковский
			В.Н.
		</td>
		<td>
			Зеленая,
			42
		</td>
		<td>
			51430
		</td>
	</tr>
	<tr>
		<td>
			Булык
			Н.И.
		</td>
		<td>
			Королева
			20
		</td>
		<td>
			51377
		</td>
	</tr>
	<tr>
		<td>
			Бурдейный
			Н.В.
		</td>
		<td>
			Мира
			48
		</td>
		<td>
			51536
		</td>
	</tr>
	<tr>
		<td>
			Буриленко
			Е.В.
		</td>
		<td>
			Шилова
			79
		</td>
		<td>
			51341
		</td>
	</tr>
	<tr>
		<td>
			Бухтий
			Н.В.
		</td>
		<td>
			50
			Лет Октября,
			4
		</td>
		<td>
			51243
		</td>
	</tr>
</table>


<h3>ВГ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адреса
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Валевский
			В.А.
		</td>
		<td>
			50
			Лет Октября,
			8
		</td>
		<td>
			51244
		</td>
	</tr>
	<tr>
		<td>
			Вальчуковский
			А.Н.
		</td>
		<td>
			Южная,
			19
		</td>
		<td>
			51573
		</td>
	</tr>
	<tr>
		<td>
			Варижук
			В.И.
		</td>
		<td>
			Железнодорожная,
			21
		</td>
		<td>
			51303
		</td>
	</tr>
	<tr>
		<td>
			Варюта
			А.А.
		</td>
		<td>
			Шилова,
			86
		</td>
		<td>
			51141
		</td>
	</tr>
	<tr>
		<td>
			Васильев
			Н.И.
		</td>
		<td>
			Пионерская,
			1
		</td>
		<td>
			51292
		</td>
	</tr>
	<tr>
		<td>
			Васильченко
			Е.М.
		</td>
		<td>
			Школьная,
			10
		</td>
		<td>
			51390
		</td>
	</tr>
	<tr>
		<td>
			Василюк
			В.И.
		</td>
		<td>
			Новая,
			20
		</td>
		<td>
			51125
		</td>
	</tr>
	<tr>
		<td>
			Васюков
			А.Н.
		</td>
		<td>
			Новая,31
		</td>
		<td>
			51351
		</td>
	</tr>
	<tr>
		<td>
			Васюков
			И.А.
		</td>
		<td>
			Комарова
			9
		</td>
		<td>
			51532
		</td>
	</tr>
	<tr>
		<td>
			Васкжова
			З.Н.
		</td>
		<td>
			Железнодорожная.
			4
		</td>
		<td>
			51366
		</td>
	</tr>
	<tr>
		<td>
			Венгер
			И.П.
		</td>
		<td>
			Мира,
			18
		</td>
		<td>
			51168
		</td>
	</tr>
	<tr>
		<td>
			Берестова
			Т.А.
		</td>
		<td>
			Элеваторная,
			24а
		</td>
		<td>
			51108
			Веч.
		</td>
	</tr>
	<tr>
		<td>
			Верстов
			А.Д.
		</td>
		<td>
			50
			Лет Октября,
			39
		</td>
		<td>
			51253
		</td>
	</tr>
	<tr>
		<td>
			Вертейко
			С.В.
		</td>
		<td>
			Шилова,
			111а
		</td>
		<td>
			51211
		</td>
	</tr>
	<tr>
		<td>
			Войтенко
			Н.И.
		</td>
		<td>
			Яр.
			Мудрого, 1
		</td>
		<td>
			51151
		</td>
	</tr>
	<tr>
		<td>
			Войтимар
			С.М.
		</td>
		<td>
			Винявского
		</td>
		<td>
			51301
		</td>
	</tr>
	<tr>
		<td>
			Волков
			В.В.
		</td>
		<td>
			Парковая,
			1
		</td>
		<td>
			51353
		</td>
	</tr>
	<tr>
		<td>
			Волкова
			Р.Н.
		</td>
		<td>
			Элеваторная,
			15/11
		</td>
		<td>
			51577
		</td>
	</tr>
	<tr>
		<td>
			Воловой
			В.И.
		</td>
		<td>
			Шилова,
			51
		</td>
		<td>
			51262
		</td>
	</tr>
	<tr>
		<td>
			Вологжанин
			Ю.Б.
		</td>
		<td>
			Шилова
			66
		</td>
		<td>
			51149
		</td>
	</tr>
	<tr>
		<td>
			Володькин
			А.И.
		</td>
		<td>
			Космонавтов
			40
		</td>
		<td>
			51415
		</td>
	</tr>
	<tr>
		<td>
			Волошановская
			О.Р.
		</td>
		<td>
			Южная,
			29
		</td>
		<td>
			51541
		</td>
	</tr>
	<tr>
		<td>
			Волошина
			В.Н.
		</td>
		<td>
			Шилова,
			129
		</td>
		<td>
			51133
		</td>
	</tr>
	<tr>
		<td>
			Высоцких
			А.С.
		</td>
		<td>
			Железнодотожная,
			33
		</td>
		<td>
			51259
		</td>
	</tr>
	<tr>
		<td>
			Гавриленко
			А.О.
		</td>
		<td>
			50
			Лет Октября,
			7
		</td>
		<td>
			51399
		</td>
	</tr>
	<tr>
		<td>
			Гайдай
			М.Я.
		</td>
		<td>
			Космонавтов,
			22
		</td>
		<td>
			51204
		</td>
	</tr>
	<tr>
		<td>
			Гайдец
			З.Н.
		</td>
		<td>
			Шилова,
			27а
		</td>
		<td>
			51597
		</td>
	</tr>
	<tr>
		<td>
			Гайдук
			П.М
		</td>
		<td>
			Шилова,
			101
		</td>
		<td>
			51162
		</td>
	</tr>
	<tr>
		<td>
			Галеса
			А.А.
		</td>
		<td>
			Пер
			Юбилейный,
			12
		</td>
		<td>
			51235
		</td>
	</tr>
	<tr>
		<td>
			Галеса
			Л. С.
		</td>
		<td>
			Шилова,
			116
		</td>
		<td>
			51223
		</td>
	</tr>
	<tr>
		<td>
			Галицкая
			С. П.
		</td>
		<td>
			Строительная,
			24
		</td>
		<td>
			51520
		</td>
	</tr>
	<tr>
		<td>
			Ганжа
			М.Д.
		</td>
		<td>
			Железнодорожная,
			38/4
		</td>
		<td>
			51361
		</td>
	</tr>
	<tr>
		<td>
			Гаоргиева
			М.Н.
		</td>
		<td>
			Спортивная,
			60
		</td>
		<td>
			51231
		</td>
	</tr>
	<tr>
		<td>
			Георгиева
			Е.Д.
		</td>
		<td>
			Виноградная,
			17
		</td>
		<td>
			51525
		</td>
	</tr>
	<tr>
		<td>
			Герастовская
			М.И.
		</td>
		<td>
			Щорса,
			29
		</td>
		<td>
			51549
		</td>
	</tr>
	<tr>
		<td>
			Гинкул
			М.В.
		</td>
		<td>
			Новая,
			22
		</td>
		<td>
			51424
		</td>
	</tr>
	<tr>
		<td>
			Годловскоя
			Л.Г.
		</td>
		<td>
			Королева,
			5
		</td>
		<td>
			51121
		</td>
	</tr>
	<tr>
		<td>
			Гоменюк
			М.И.
		</td>
		<td>
			Юбилейная,
			31
		</td>
		<td>
			51232
		</td>
	</tr>
	<tr>
		<td>
			Гончаюва
			Л.В.
		</td>
		<td>
			Олимпийская,
			6
		</td>
		<td>
			514%
		</td>
	</tr>
	<tr>
		<td>
			Горбалинская
			Л. А
		</td>
		<td>
			Новая,
			1
		</td>
		<td>
			51463
		</td>
	</tr>
	<tr>
		<td>
			Горишок
			Т.В.
		</td>
		<td>
			Спортивная,
			41
		</td>
		<td>
			51488
		</td>
	</tr>
	<tr>
		<td>
			Горишок
			Ю.Г.
		</td>
		<td>
			Новоселов,
			26
		</td>
		<td>
			51261
		</td>
	</tr>
	<tr>
		<td>
			Горошко
			В.И.
		</td>
		<td>
			Шилова,
			141б
		</td>
		<td>
			51135
		</td>
	</tr>
	<tr>
		<td>
			Гочев
			А.Н.
		</td>
		<td>
			Виноградная,
			16
		</td>
		<td>
			51478
		</td>
	</tr>
	<tr>
		<td>
			Гочев
			В.И.
		</td>
		<td>
			Пер.Мира,
			3
		</td>
		<td>
			51150
		</td>
	</tr>
	<tr>
		<td>
			Гребенюк
			Н.Г.
		</td>
		<td>
			Мира,38
		</td>
		<td>
			51175
		</td>
	</tr>
	<tr>
		<td>
			Гречко
			Л.М.
		</td>
		<td>
			Винявского,
			5/12
		</td>
		<td>
			51500
		</td>
	</tr>
	<tr>
		<td>
			Гринчишин
			А.М.
		</td>
		<td>
			Победы,
			63
		</td>
		<td>
			51329
		</td>
	</tr>
	<tr>
		<td>
			Грисюк
			Н.В.
		</td>
		<td>
			Шилова,
			152а
		</td>
		<td>
			51373
		</td>
	</tr>
	<tr>
		<td>
			Гру
			Шецкая С.Н.
		</td>
		<td>
			Механизаторов,
			7
		</td>
		<td>
			51282
		</td>
	</tr>
	<tr>
		<td>
			Грязен
			Н.Ф.
		</td>
		<td>
			Железнодорожная,
			40/4
		</td>
		<td>
			51280
		</td>
	</tr>
	<tr>
		<td>
			Гуртовой
			А.В.
		</td>
		<td>
			Виноградная,
			18
		</td>
		<td>
			51470
		</td>
	</tr>
	<tr>
		<td>
			Гуцол
			В.Ф.
		</td>
		<td>
			Механизаторов,
			5
		</td>
		<td>
			51485
		</td>
	</tr>
	<tr>
		<td>
			Гуцу
			В.С.
		</td>
		<td>
			Комарова,
			21
		</td>
		<td>
			51249
		</td>
	</tr>
	<tr>
		<td>
			Гуцу
			О.В.
		</td>
		<td>
			Комарова,
			33
		</td>
		<td>
			51369
		</td>
	</tr>
</table>

<h3>ДЕ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адреса
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Давиденко
			О.П.
		</td>
		<td>
			Железнодорожная,
			40
		</td>
		<td>
			51362
		</td>
	</tr>
	<tr>
		<td>
			Даниленко
			Н.И.
		</td>
		<td>
			Зеленая,
			57а
		</td>
		<td>
			51413
		</td>
	</tr>
	<tr>
		<td>
			Демешкин
			Д.В.
		</td>
		<td>
			Комарова,34
		</td>
		<td>
			51110
		</td>
	</tr>
	<tr>
		<td>
			Дерманчук
			А.А.
		</td>
		<td>
			Строительная,
			3
		</td>
		<td>
			51435
		</td>
	</tr>
	<tr>
		<td>
			Дерманчук
			А.А.
		</td>
		<td>
			Пионерская,
			22
		</td>
		<td>
			51563
		</td>
	</tr>
	<tr>
		<td>
			Диткж
			Е.Г.
		</td>
		<td>
			Железнодорожная,
			29
		</td>
		<td>
			51258
		</td>
	</tr>
	<tr>
		<td>
			Дмитрук
			Г.П.
		</td>
		<td>
			Кирова,
			20
		</td>
		<td>
			51164
		</td>
	</tr>
	<tr>
		<td>
			Дмитрук
			Н.И.
		</td>
		<td>
			Юбилейная,
			26
		</td>
		<td>
			51331
		</td>
	</tr>
	<tr>
		<td>
			Добжанский
			С.И.
		</td>
		<td>
			50
			Лет Октября,
			37
		</td>
		<td>
			51407
		</td>
	</tr>
	<tr>
		<td>
			Добжанский
			С.И.
		</td>
		<td>
			Мира,
			31
		</td>
		<td>
			51160
		</td>
	</tr>
	<tr>
		<td>
			Довгопол
			М.А.
		</td>
		<td>
			Шилова,60
		</td>
		<td>
			51146
		</td>
	</tr>
	<tr>
		<td>
			Довгопол
			Ю.Н.
		</td>
		<td>
			Пер.Шилова,2
		</td>
		<td>
			51421
		</td>
	</tr>
	<tr>
		<td>
			Долгая
			Г.И,
		</td>
		<td>
			Новая,
			17
		</td>
		<td>
			51115
		</td>
	</tr>
	<tr>
		<td>
			Долинская
			Н.В.
		</td>
		<td>
			Зеленая,
			16
		</td>
		<td>
			51185
		</td>
	</tr>
	<tr>
		<td>
			Дорошенко
			В. К.
		</td>
		<td>
			Зеленая,
			35
		</td>
		<td>
			21526
		</td>
	</tr>
	<tr>
		<td>
			Дуда
			П.Л.
		</td>
		<td>
			Южная,2
		</td>
		<td>
			51511
		</td>
	</tr>
	<tr>
		<td>
			Дунай
			Е.Я.
		</td>
		<td>
			Элеваторная,
			10/1
		</td>
		<td>
			51540
		</td>
	</tr>
	<tr>
		<td>
			Дьяченко
			Е.И.
		</td>
		<td>
			Школьная,
			12
		</td>
		<td>
			51255
		</td>
	</tr>
	<tr>
		<td>
			Дяченко
			Л. Д.
		</td>
		<td>
			Королева
			1а
		</td>
		<td>
			21028
		</td>
	</tr>
	<tr>
		<td>
			Епур
			А.А.
		</td>
		<td>
			Космонавтов,
			41
		</td>
		<td>
			51429
		</td>
	</tr>
	<tr>
		<td>
			Епур
			Е.В.
		</td>
		<td>
			Зеленая,22
		</td>
		<td>
			51517
		</td>
	</tr>
	<tr>
		<td>
			Ефимчук
			М.С.
		</td>
		<td>
			Шилова,
			88
		</td>
		<td>
			51217
		</td>
	</tr>
	<tr>
		<td>
			Ефимчук
			С .Н.
		</td>
		<td>
			Строительная,
			5
		</td>
		<td>
			51561
		</td>
	</tr>
</table>

<h3>ЖЗИ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адреса
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Жекова
			А.Л.
		</td>
		<td>
			Зеленая,38
		</td>
		<td>
			51195
		</td>
	</tr>
	<tr>
		<td>
			Жигадло
			Н.И.
		</td>
		<td>
			Железнодорожная,
			7
		</td>
		<td>
			51300
		</td>
	</tr>
	<tr>
		<td>
			Жилинский
			В.И.
		</td>
		<td>
			Новая,
			14
		</td>
		<td>
			51465
		</td>
	</tr>
	<tr>
		<td>
			Жилинский
			Е.В
		</td>
		<td>
			Шевченко,
			3
		</td>
		<td>
			51420
		</td>
	</tr>
	<tr>
		<td>
			Заболотный
			П.Ф.
		</td>
		<td>
			50
			Лет Октября
			12
		</td>
		<td>
			51576
		</td>
	</tr>
	<tr>
		<td>
			Заворотная
			И.В.
		</td>
		<td>
			Винявского,
			1/3
		</td>
		<td>
			51568
		</td>
	</tr>
	<tr>
		<td>
			Завелишко
		</td>
		<td>
			Железнодорожная,
			30
		</td>
		<td>
			51356
		</td>
	</tr>
	<tr>
		<td>
			Загогоднюк
			В.И.
		</td>
		<td>
			Космонавтов,
			16
		</td>
		<td>
			51203
		</td>
	</tr>
	<tr>
		<td>
			За
			Дорожная В.
			Д.
		</td>
		<td>
			Строительная,
			17
		</td>
		<td>
			51578
		</td>
	</tr>
	<tr>
		<td>
			Задорожный
			С.А.
		</td>
		<td>
			Пионерская
		</td>
		<td>
			51439
		</td>
	</tr>
	<tr>
		<td>
			Заика
			А.И.
		</td>
		<td>
			Юбилейная
			10
		</td>
		<td>
			51337
		</td>
	</tr>
	<tr>
		<td>
			Зайцева
			Р.Г.
		</td>
		<td>
			50
			Лет Октября,
			1
		</td>
		<td>
			51474
		</td>
	</tr>
	<tr>
		<td>
			Заносий
			М.П.
		</td>
		<td>
			Южная4
		</td>
		<td>
			51176
		</td>
	</tr>
	<tr>
		<td>
			Зварич
			Е.С.
		</td>
		<td>
			Югатийная2
		</td>
		<td>
			51334
		</td>
	</tr>
	<tr>
		<td>
			Зварич
			И.М.
		</td>
		<td>
			Пионерская
			3
		</td>
		<td>
			51437
		</td>
	</tr>
	<tr>
		<td>
			Зозулж
			Е.Ф.
		</td>
		<td>
			Новоселов,6
		</td>
		<td>
			51268
		</td>
	</tr>
	<tr>
		<td>
			Золотонос
			А.В.
		</td>
		<td>
			Королева
			14
		</td>
		<td>
			51459
		</td>
	</tr>
	<tr>
		<td>
			Иванченко
			С.И.
		</td>
		<td>
			50
			Лет Октября
			40
		</td>
		<td>
			51582
		</td>
	</tr>
	<tr>
		<td>
			Иванкж
			Д.А.
		</td>
		<td>
			Южная7
		</td>
		<td>
			51592
		</td>
	</tr>
	<tr>
		<td>
			Иванюк
			Н.М.
		</td>
		<td>
			Школьная9
		</td>
		<td>
			51256
		</td>
	</tr>
	<tr>
		<td>
			Ивасюк
			М.В.
		</td>
		<td>
			Пер.
			Железнодорожный,
			4
		</td>
		<td>
			51522
		</td>
	</tr>
	<tr>
		<td>
			Ижаковская
			Л.С
		</td>
		<td>
			Победы,
			15
		</td>
		<td>
			51219
		</td>
	</tr>
	<tr>
		<td>
			Искра
			Л.Л.
		</td>
		<td>
			Шилова,
			67
		</td>
		<td>
			51224
		</td>
	</tr>
</table>

<h3>K</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Кабанский
			Ю.В.
		</td>
		<td>
			50
			Лет Октября
			22
		</td>
		<td>
			51445
		</td>
	</tr>
	<tr>
		<td>
			Калашников
			В.В.
		</td>
		<td>
			Юбилейная32
		</td>
		<td>
			51526
		</td>
	</tr>
	<tr>
		<td>
			Калашникова
			М.Г.
		</td>
		<td>
			Юбилейная
			1
		</td>
		<td>
			51335
		</td>
	</tr>
	<tr>
		<td>
			Капрал
			Л.П.
		</td>
		<td>
			Железнодогожная
			6
		</td>
		<td>
			51131
		</td>
	</tr>
	<tr>
		<td>
			Карагуца
			В.Е.
		</td>
		<td>
			Новоселов
		</td>
		<td>
			51551
		</td>
	</tr>
	<tr>
		<td>
			Каржибан
			Н.С.
		</td>
		<td>
			Победы,44
		</td>
		<td>
			51310
		</td>
	</tr>
	<tr>
		<td>
			Кармалижа
			Л.А.
		</td>
		<td>
			Космонавтов,73
		</td>
		<td>
			51417
		</td>
	</tr>
	<tr>
		<td>
			Качанов
			В. И.
		</td>
		<td>
			Королеба,31
		</td>
		<td>
			51457
		</td>
	</tr>
	<tr>
		<td>
			Качук
			Н.И.
		</td>
		<td>
			50
			Лет Октября
		</td>
		<td>
			51441
		</td>
	</tr>
	<tr>
		<td>
			Качурка
			Г.В.
		</td>
		<td>
			Щорса,
			З3а
		</td>
		<td>
			51431
		</td>
	</tr>
	<tr>
		<td>
			Киданова
			А.Н.
		</td>
		<td>
			Мира25
		</td>
		<td>
			51166
		</td>
	</tr>
	<tr>
		<td>
			Киминчиджи
			П.Н.
		</td>
		<td>
			Пер.
			Юбилейный
		</td>
		<td>
			51130
		</td>
	</tr>
	<tr>
		<td>
			Кипер
			В.Т.
		</td>
		<td>
			Новая2
		</td>
		<td>
			51460
		</td>
	</tr>
	<tr>
		<td>
			Кириленко
			С.П.
		</td>
		<td>
			50летоктября19
		</td>
		<td>
			51114
		</td>
	</tr>
	<tr>
		<td>
			Кирилюк
			А.Г.
		</td>
		<td>
			Королевап
		</td>
		<td>
			51112
		</td>
	</tr>
	<tr>
		<td>
			Кирилюк
			В.А.
		</td>
		<td>
			Сшимгнйскаяз
		</td>
		<td>
			51492
		</td>
	</tr>
	<tr>
		<td>
			Кирничук
			В.Н.
		</td>
		<td>
			Шилова
			115
		</td>
		<td>
			51222
		</td>
	</tr>
	<tr>
		<td>
			Киселев
			С.Н.
		</td>
		<td>
			Щорса
			23
		</td>
		<td>
			51415
		</td>
	</tr>
	<tr>
		<td>
			Кислюк
			Е.Е.
		</td>
		<td>
			50
			Лет Октября
			6
		</td>
		<td>
			51360
		</td>
	</tr>
	<tr>
		<td>
			Клевец
			Р.Н.
		</td>
		<td>
			50
			Лет Октября
			33
		</td>
		<td>
			51467
		</td>
	</tr>
	<tr>
		<td>
			Клименко
			Л.С.
		</td>
		<td>
			Космонавтов,30
		</td>
		<td>
			51129
		</td>
	</tr>
	<tr>
		<td>
			Клименко
			С.М.
		</td>
		<td>
			Южнад
			25
		</td>
		<td>
			51343
		</td>
	</tr>
	<tr>
		<td>
			Клименко
			С.П.
		</td>
		<td>
			Зеленая
			14
		</td>
		<td>
			51186
		</td>
	</tr>
	<tr>
		<td>
			Клочанкж
			В.И.
		</td>
		<td>
			Олимпийская
			2
		</td>
		<td>
			51494
		</td>
	</tr>
	<tr>
		<td>
			Кнышукр.С.
		</td>
		<td>
			50летоктября4
		</td>
		<td>
			51298
		</td>
	</tr>
	<tr>
		<td>
			Ковпак
			С.В.
		</td>
		<td>
			Элеваторная31
		</td>
		<td>
			51339
		</td>
	</tr>
	<tr>
		<td>
			Козак
			А.П.
		</td>
		<td>
			Космонабтов,79
		</td>
		<td>
			51412
		</td>
	</tr>
	<tr>
		<td>
			Козюренко
			С.Г.
		</td>
		<td>
			Спортивная
			29
		</td>
		<td>
			51265
		</td>
	</tr>
	<tr>
		<td>
			Кокол
			М.И.
		</td>
		<td>
			50
			Лет Октября
			18
		</td>
		<td>
			51124
		</td>
	</tr>
	<tr>
		<td>
			Колонтай
			П.К.
		</td>
		<td>
			Стюительная25
		</td>
		<td>
			51510
		</td>
	</tr>
	<tr>
		<td>
			Комар
			П.Л.
		</td>
		<td>
			Першилова14
		</td>
		<td>
			51128
		</td>
	</tr>
	<tr>
		<td>
			Комашко
			Р.С.
		</td>
		<td>
			Мира
			40
		</td>
		<td>
			51174
		</td>
	</tr>
	<tr>
		<td>
			Кондратюк
			Е. А.
		</td>
		<td>
			Победы,23
		</td>
		<td>
			51299
		</td>
	</tr>
	<tr>
		<td>
			Копылова
			Т.В.
		</td>
		<td>
			Космонавтов,38
		</td>
		<td>
			51473
		</td>
	</tr>
	<tr>
		<td>
			Кордонов
			В.А.
		</td>
		<td>
			Олимпийская
			11
		</td>
		<td>
			51499
		</td>
	</tr>
	<tr>
		<td>
			Коржов
			Н.И,
		</td>
		<td>
			Спортивная
			45
		</td>
		<td>
			51238
		</td>
	</tr>
	<tr>
		<td>
			Коржова
			В.Ф.
		</td>
		<td>
			Победы,12
		</td>
		<td>
			51560
		</td>
	</tr>
	<tr>
		<td>
			Корнаух
			Н.К.
		</td>
		<td>
			Зеленая
			5
		</td>
		<td>
			51182
		</td>
	</tr>
	<tr>
		<td>
			Корня
			М.А.
		</td>
		<td>
			Элеваторная
			20
		</td>
		<td>
			51436
		</td>
	</tr>
	<tr>
		<td>
			Короткая
			А.В.
		</td>
		<td>
			Пер.Юбилейный,
			8
		</td>
		<td>
			51139
		</td>
	</tr>
	<tr>
		<td>
			Корчака
			Л.Ф.
		</td>
		<td>
			Косжнавтов,48
		</td>
		<td>
			51428
		</td>
	</tr>
	<tr>
		<td>
			Коцюбинская
			Н.Я.
		</td>
		<td>
			Юбилейная,
			42
		</td>
		<td>
			51384
		</td>
	</tr>
	<tr>
		<td>
			Кошман
			Н.Н.
		</td>
		<td>
			50
			Лет Октября
			13
		</td>
		<td>
			51472
		</td>
	</tr>
	<tr>
		<td>
			Кравец
			Н.Г.
		</td>
		<td>
			Элеваторная
			20
		</td>
		<td>
			51506
		</td>
	</tr>
	<tr>
		<td>
			Крамчанинова
			О.Е.
		</td>
		<td>
			Шилова.
			3
		</td>
		<td>
			51275
		</td>
	</tr>
	<tr>
		<td>
			Красилбникова
			З.Ф.
		</td>
		<td>
			Юбилейная
			41а
		</td>
		<td>
			51379
		</td>
	</tr>
	<tr>
		<td>
			Краснянский
			В.И.
		</td>
		<td>
			Юбилейная
			6
		</td>
		<td>
			51336
		</td>
	</tr>
	<tr>
		<td>
			Кривенко
			В.Н.
		</td>
		<td>
			Новоселов,
			11
		</td>
		<td>
			51322
		</td>
	</tr>
	<tr>
		<td>
			Кубрик
			М.М.
		</td>
		<td>
			Мира,
			6
		</td>
		<td>
			51271
		</td>
	</tr>
	<tr>
		<td>
			Кузнецов
			А.А.
		</td>
		<td>
			Механизаторов,4
		</td>
		<td>
			51200
		</td>
	</tr>
	<tr>
		<td>
			Кузьма
			Ю.И.
		</td>
		<td>
			Спортивная
			11
		</td>
		<td>
			51545
		</td>
	</tr>
	<tr>
		<td>
			Кузьмина
			С.М,
		</td>
		<td>
			Новоселов,21
		</td>
		<td>
			51263
		</td>
	</tr>
	<tr>
		<td>
			Кузьминский
			И.Н.
		</td>
		<td>
			Новая
			18
		</td>
		<td>
			51469
		</td>
	</tr>
	<tr>
		<td>
			Кукало
			Г.М.
		</td>
		<td>
			Железнодоюжная,
			20
		</td>
		<td>
			51368
		</td>
	</tr>
	<tr>
		<td>
			Кулик
			А.Ф.
		</td>
		<td>
			Зеленая,
			54
		</td>
		<td>
			51423
		</td>
	</tr>
	<tr>
		<td>
			Кулиненко
			Н.И.
		</td>
		<td>
			Шилова,
			19
		</td>
		<td>
			51157
		</td>
	</tr>
	<tr>
		<td>
			Кулинич
			А.Г.
		</td>
		<td>
			Победы,
			36
		</td>
		<td>
			51528
		</td>
	</tr>
	<tr>
		<td>
			Кульбида
			А. А.
		</td>
		<td>
			Новая
			8
		</td>
		<td>
			51126
		</td>
	</tr>
	<tr>
		<td>
			Кундилевский
			А.С.
		</td>
		<td>
			Шилова,
			2
		</td>
		<td>
			51153
		</td>
	</tr>
	<tr>
		<td>
			Кундилевский
			С.С.
		</td>
		<td>
			Шилова
			25
		</td>
		<td>
			51156
		</td>
	</tr>
	<tr>
		<td>
			Курка
			В.П.
		</td>
		<td>
			Олимпийская
			5
		</td>
		<td>
			51493
		</td>
	</tr>
	<tr>
		<td>
			Курманевич
			И.Ф.
		</td>
		<td>
			50
			Лет Октября
			30
		</td>
		<td>
			51448
		</td>
	</tr>
	<tr>
		<td>
			Кутафина
			Л.В.
		</td>
		<td>
			Щорса.
			З3
		</td>
		<td>
			51189
		</td>
	</tr>
	<tr>
		<td>
			Кучеренко
			В. Г.
		</td>
		<td>
			Комарова.
			6
		</td>
		<td>
			51349
		</td>
	</tr>
	<tr>
		<td>
			Кучма
			Л.В.
		</td>
		<td>
			Элеваторная
			16
		</td>
		<td>
			51434
		</td>
	</tr>
	<tr>
		<td>
			Кушнир
			Л.Л.
		</td>
		<td>
			Олимпийская,
			11
		</td>
		<td>
			51501
		</td>
	</tr>
	<tr>
		<td>
			Кушниренко
			В.Ф.
		</td>
		<td>
			Космонавтов,
			2
		</td>
		<td>
			51202
		</td>
	</tr>
</table>

<h3>ЛМ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Лавренчук
			В.П.
		</td>
		<td>
			Новая
			33
		</td>
		<td>
			51283
		</td>
	</tr>
	<tr>
		<td>
			Лебеденко
			Н.И.
		</td>
		<td>
			Комарова,
			2
		</td>
		<td>
			51230
		</td>
	</tr>
	<tr>
		<td>
			Левчишина
			М.Е.
		</td>
		<td>
			Юбилейная,23а
		</td>
		<td>
			51332
		</td>
	</tr>
	<tr>
		<td>
			Лень
			М.А.
		</td>
		<td>
			Победы.
			73
		</td>
		<td>
			51564
		</td>
	</tr>
	<tr>
		<td>
			Леонтьева
			В.Г.
		</td>
		<td>
			Победы
			56
		</td>
		<td>
			51556
		</td>
	</tr>
	<tr>
		<td>
			Лищинская
			Р.Н.
		</td>
		<td>
			50
			Лег Октября
			9
		</td>
		<td>
			51442
		</td>
	</tr>
	<tr>
		<td>
			Лужанская
			В.И.
		</td>
		<td>
			Королева.
			18
		</td>
		<td>
			51450
		</td>
	</tr>
	<tr>
		<td>
			Лужанская
			Н.П.
		</td>
		<td>
			Спортивная.
			47
		</td>
		<td>
			51188
		</td>
	</tr>
	<tr>
		<td>
			Лужанский
			В.М.
		</td>
		<td>
			Победы,
			54
		</td>
		<td>
			51102
		</td>
	</tr>
	<tr>
		<td>
			Лужняк
			Е.Л.
		</td>
		<td>
			Спортивная.
			2а
		</td>
		<td>
			51288
		</td>
	</tr>
	<tr>
		<td>
			Лужняк
			Л.И.
		</td>
		<td>
			Спортивная.
			59
		</td>
		<td>
			51140
		</td>
	</tr>
	<tr>
		<td>
			Лупащенко
			О. А
		</td>
		<td>
			Космонавтов,
			75
		</td>
		<td>
			51327
		</td>
	</tr>
	<tr>
		<td>
			Лютый
			А. А
		</td>
		<td>
			Южная.
			14
		</td>
		<td>
			51406
		</td>
	</tr>
	<tr>
		<td>
			Мазур
			З.П.
		</td>
		<td>
			Шилова.
			7
		</td>
		<td>
			51104
		</td>
	</tr>
	<tr>
		<td>
			Макзярги
			В.П.
		</td>
		<td>
			Шилова,
			141
		</td>
		<td>
			51260
		</td>
	</tr>
	<tr>
		<td>
			Маковей
			Л.В.
		</td>
		<td>
			Винявского,
			5/18
		</td>
		<td>
			51393
		</td>
	</tr>
	<tr>
		<td>
			Максимов
			П.Н.
		</td>
		<td>
			Юбилейная
			9
		</td>
		<td>
			51313
		</td>
	</tr>
	<tr>
		<td>
			Маляренко
			Ф.С.
		</td>
		<td>
			Мира,
			41
		</td>
		<td>
			51172
		</td>
	</tr>
	<tr>
		<td>
			Манулин
			Р.Г.
		</td>
		<td>
			Железно
			Дорожная, 22
		</td>
		<td>
			51354
		</td>
	</tr>
	<tr>
		<td>
			Мариакрий
			Н.А.
		</td>
		<td>
			Победы,
			41
		</td>
		<td>
			51326
		</td>
	</tr>
	<tr>
		<td>
			Марусич
			Н.Ю
		</td>
		<td>
			Победы,
			24
		</td>
		<td>
			51315
		</td>
	</tr>
	<tr>
		<td>
			Марущак
			В.Н.
		</td>
		<td>
			Пер.
			Шилова, 13
		</td>
		<td>
			51330
		</td>
	</tr>
	<tr>
		<td>
			Матусар
			А.Я.
		</td>
		<td>
			Винявского,
			5/5
		</td>
		<td>
			51374
		</td>
	</tr>
	<tr>
		<td>
			Мельник
			М.Ш.
		</td>
		<td>
			Зеленая,
			34
		</td>
		<td>
			511%
		</td>
	</tr>
	<tr>
		<td>
			Мельникова
			А. А.
		</td>
		<td>
			Железнодоюжная,
			28
		</td>
		<td>
			51350
		</td>
	</tr>
	<tr>
		<td>
			Мельниченко
			В. А.
		</td>
		<td>
			Королева
			12
		</td>
		<td>
			51123
		</td>
	</tr>
	<tr>
		<td>
			Мензелевский
			И.Н.
		</td>
		<td>
			50
			Лет Октября
			28
		</td>
		<td>
			51240
		</td>
	</tr>
	<tr>
		<td>
			Мигович
			П.М.
		</td>
		<td>
			Мира,
			44
		</td>
		<td>
			51277
		</td>
	</tr>
	<tr>
		<td>
			Микулинская
			Е.М.
		</td>
		<td>
			Железнодорожная,
			4
		</td>
		<td>
			51367
		</td>
	</tr>
	<tr>
		<td>
			Микулинская
			3.С.
		</td>
		<td>
			Победы,
			47
		</td>
		<td>
			51101
		</td>
	</tr>
	<tr>
		<td>
			Микулинский
			В.В.
		</td>
		<td>
			Олимпийская,
			19
		</td>
		<td>
			51279
		</td>
	</tr>
	<tr>
		<td>
			Милько
			А.В.
		</td>
		<td>
			Шилова,
			36
		</td>
		<td>
			51158
		</td>
	</tr>
	<tr>
		<td>
			Михайлицкий
			Н.П.
		</td>
		<td>
			50
			Лет Октября
			27
		</td>
		<td>
			51444
		</td>
	</tr>
	<tr>
		<td>
			Морачковский
			А.С.
		</td>
		<td>
			Элеваторная,
			3/11
		</td>
		<td>
			51571
		</td>
	</tr>
	<tr>
		<td>
			Мордванюк
			Е.А.
		</td>
		<td>
			Зеленая.
			46
		</td>
		<td>
			51192
		</td>
	</tr>
	<tr>
		<td>
			Мордванюк
			И.А.
		</td>
		<td>
			Космонавтов,
			41а
		</td>
		<td>
			51207
		</td>
	</tr>
	<tr>
		<td>
			Моченко
			Е.М.
		</td>
		<td>
			Шилова,
			55
		</td>
		<td>
			51147
		</td>
	</tr>
	<tr>
		<td>
			Мусалев
			Е.А.
		</td>
		<td>
			Космонавтов
			6
		</td>
		<td>
			51586
		</td>
	</tr>
	<tr>
		<td>
			Мусюрко
			И.Г.
		</td>
		<td>
			Шилова.
			76
		</td>
		<td>
			51529
		</td>
	</tr>
</table>

<h3>НО</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Нагорневич
			М.И.
		</td>
		<td>
			Шилова,
			94
		</td>
		<td>
			51138
		</td>
	</tr>
	<tr>
		<td>
			Нагорный
			В.В.
		</td>
		<td>
			Б.
			Хмельницкого.
			14
		</td>
		<td>
			51461
		</td>
	</tr>
	<tr>
		<td>
			Нагорняк
			А.Н.
		</td>
		<td>
			Зеленая.
			58
		</td>
		<td>
			51291
		</td>
	</tr>
	<tr>
		<td>
			Назаренко
			В.М.
		</td>
		<td>
			Элеваторная
			5/14
		</td>
		<td>
			51143
		</td>
	</tr>
	<tr>
		<td>
			Накорик
			В.И.
		</td>
		<td>
			Победы
			68
		</td>
		<td>
			51318
		</td>
	</tr>
	<tr>
		<td>
			Накорык
			В.И.
		</td>
		<td>
			Комарова.
			45
		</td>
		<td>
			51270
		</td>
	</tr>
	<tr>
		<td>
			Настродин
			Ю.В.
		</td>
		<td>
			Пер.
			Шилова. 12
		</td>
		<td>
			51581
		</td>
	</tr>
	<tr>
		<td>
			Науменко
			А.И.
		</td>
		<td>
			Юбилейная,
			24
		</td>
		<td>
			51375
		</td>
	</tr>
	<tr>
		<td>
			Науменко
			И.А,
		</td>
		<td>
			Винявского,
			5/21
		</td>
		<td>
			51395
		</td>
	</tr>
	<tr>
		<td>
			Невдах
			Л.А.
		</td>
		<td>
			Виноградная,
			20
		</td>
		<td>
			51215
		</td>
	</tr>
	<tr>
		<td>
			Невзгода
			Н.М.
		</td>
		<td>
			Шилова,
			133
		</td>
		<td>
			51213
		</td>
	</tr>
	<tr>
		<td>
			Ней
			А.С.
		</td>
		<td>
			Зеленая,
			24
		</td>
		<td>
			51228
		</td>
	</tr>
	<tr>
		<td>
			Нечаенко
			Л.Л.
		</td>
		<td>
			Шилова.
			106
		</td>
		<td>
			51137
		</td>
	</tr>
	<tr>
		<td>
			Нижних
			А.М.
		</td>
		<td>
			Питомник,
			Б/Н
		</td>
		<td>
			51543
		</td>
	</tr>
	<tr>
		<td>
			Никифорова
			Л.И.
		</td>
		<td>
			Зеленая,
			29а
		</td>
		<td>
			51596
		</td>
	</tr>
	<tr>
		<td>
			Николаенко
			С.С.
		</td>
		<td>
			Элеваторная,
			5/12
		</td>
		<td>
			51588
		</td>
	</tr>
	<tr>
		<td>
			Николусь
			В.Й.
		</td>
		<td>
			Калинина.
			39
		</td>
		<td>
			51480
		</td>
	</tr>
	<tr>
		<td>
			Николусь
			Н.Д.
		</td>
		<td>
			Шилова.
			51б
		</td>
		<td>
			51287
		</td>
	</tr>
	<tr>
		<td>
			Новиков
			В.А.
		</td>
		<td>
			50
			Лет Октября,
			43
		</td>
		<td>
			51252
		</td>
	</tr>
	<tr>
		<td>
			Носарчук
			В.Н.
		</td>
		<td>
			Спортивная.
			56
		</td>
		<td>
			51599
		</td>
	</tr>
	<tr>
		<td>
			Носарчук
			Р.В.
		</td>
		<td>
			Спортивная,
			52
		</td>
		<td>
			51239
		</td>
	</tr>
	<tr>
		<td>
			Огарко
			Е.Д.
		</td>
		<td>
			Комарова.
			44
		</td>
		<td>
			51513
		</td>
	</tr>
	<tr>
		<td>
			Огарко
			Н.Д.
		</td>
		<td>
			Новоселов,
			37
		</td>
		<td>
			51120
		</td>
	</tr>
	<tr>
		<td>
			Олейник
			В.И.
		</td>
		<td>
			Пер.
			Юбилейный
		</td>
		<td>
			51236
		</td>
	</tr>
	<tr>
		<td>
			Олейник
			М.П.
		</td>
		<td>
			Юбилейная,
			27
		</td>
		<td>
			51314
		</td>
	</tr>
	<tr>
		<td>
			Омельченко
			В.М.
		</td>
		<td>
			Шилова.
			99
		</td>
		<td>
			51136
		</td>
	</tr>
	<tr>
		<td>
			Омельченко
			И.В.
		</td>
		<td>
			Спортивная.
			58
		</td>
		<td>
			51555
		</td>
	</tr>
	<tr>
		<td>
			Онисько
			М.И.
		</td>
		<td>
			50
			Лет Октября
			22
		</td>
		<td>
			51398
		</td>
	</tr>
	<tr>
		<td>
			Ориненко
			М.В.
		</td>
		<td>
			50
			Лет Октября.
			2
		</td>
		<td>
			51475
		</td>
	</tr>
	<tr>
		<td>
			Осадчая
			А.Ф.
		</td>
		<td>
			Юбилейная,
			14
		</td>
		<td>
			51323
		</td>
	</tr>
	<tr>
		<td>
			Осадчий
			В.Н.
		</td>
		<td>
			Пер.
			Шилова, 7
		</td>
		<td>
			51411
		</td>
	</tr>
	<tr>
		<td>
			Осадчий
			П.В.
		</td>
		<td>
			Юбилейная.
			20
		</td>
		<td>
			51333
		</td>
	</tr>
	<tr>
		<td>
			Осиевская
			Т.Ф.
		</td>
		<td>
			Спортивная,
			53
		</td>
		<td>
			51237
		</td>
	</tr>
	<tr>
		<td>
			Отношенный
			С.Н.
		</td>
		<td>
			Победы,
			8
		</td>
		<td>
			51572
		</td>
	</tr>
	<tr>
		<td>
			Охнарович
			З.А.
		</td>
		<td>
			1
			К )1 Заями. 29
		</td>
		<td>
			51483
		</td>
	</tr>
	<tr>
		<td>
			Ошовский
			И.П.
		</td>
		<td>
			Беспалъко,
			8
		</td>
		<td>
			51542
		</td>
	</tr>
</table>

<h3>ПР</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Павелко
			Н.Г.
		</td>
		<td>
			Королева,
			27
		</td>
		<td>
			51462
		</td>
	</tr>
	<tr>
		<td>
			Павленко
			В.Б.
		</td>
		<td>
			Шилова,
			156
		</td>
		<td>
			51289
		</td>
	</tr>
	<tr>
		<td>
			Павленко
			В.И.
		</td>
		<td>
			Железнодорожная,
			38
		</td>
		<td>
			51358
		</td>
	</tr>
	<tr>
		<td>
			Павленко
			И.В.
		</td>
		<td>
			Королева,
			16
		</td>
		<td>
			51308
		</td>
	</tr>
	<tr>
		<td>
			Павленко
			Т.П.
		</td>
		<td>
			50
			Лет Октября,
			9
		</td>
		<td>
			51241
		</td>
	</tr>
	<tr>
		<td>
			Павловский
			Н.П.
		</td>
		<td>
			Мира,
			22
		</td>
		<td>
			51169
		</td>
	</tr>
	<tr>
		<td>
			Паерелева
			Н.Б.
		</td>
		<td>
			Королева,4
		</td>
		<td>
			51454
		</td>
	</tr>
	<tr>
		<td>
			Пантелей
			Н.И.
		</td>
		<td>
			Строительная,
			23
		</td>
		<td>
			51538
		</td>
	</tr>
	<tr>
		<td>
			Паровик
			А.Б.
		</td>
		<td>
			Победы,
			79
		</td>
		<td>
			51567
		</td>
	</tr>
	<tr>
		<td>
			Пасечник
			А.П.
		</td>
		<td>
			Зеленая.
			27
		</td>
		<td>
			51180
		</td>
	</tr>
	<tr>
		<td>
			Пасечник
			И.А.
		</td>
		<td>
			Винявского,
			5/4
		</td>
		<td>
			51396
		</td>
	</tr>
	<tr>
		<td>
			Пасынок
			В.И.
		</td>
		<td>
			Олимпийская,
			1
		</td>
		<td>
			51491
		</td>
	</tr>
	<tr>
		<td>
			Пасынок
			И.С.
		</td>
		<td>
			50
			Лет Октября
			11
		</td>
		<td>
			51245
		</td>
	</tr>
	<tr>
		<td>
			Пасынок
			Н.И.
		</td>
		<td>
			Зеленая,
			16а
		</td>
		<td>
			51187
		</td>
	</tr>
	<tr>
		<td>
			Педан
			А.Ф.
		</td>
		<td>
			Щорса,
			13
		</td>
		<td>
			51535
		</td>
	</tr>
	<tr>
		<td>
			Перминов
			В.В.
		</td>
		<td>
			Мира,
			32
		</td>
		<td>
			51173
		</td>
	</tr>
	<tr>
		<td>
			Перчик
			Л.Ф.
		</td>
		<td>
			50
			Лет Октября,
			26
		</td>
		<td>
			51565
		</td>
	</tr>
	<tr>
		<td>
			Петровская
			Е.И.
		</td>
		<td>
			Королева,
			6
		</td>
		<td>
			51452
		</td>
	</tr>
	<tr>
		<td>
			Петровский
			Е.Т.
		</td>
		<td>
			Юбилейная,30
		</td>
		<td>
			51324
		</td>
	</tr>
	<tr>
		<td>
			Петювский
			П.Ф.
		</td>
		<td>
			Железнодоюжная,
			22а
		</td>
		<td>
			51355
		</td>
	</tr>
	<tr>
		<td>
			Пименов
			В.В,
		</td>
		<td>
			Железнодорожная,38/6
		</td>
		<td>
			51451
		</td>
	</tr>
	<tr>
		<td>
			Подакин
			Н.И.
		</td>
		<td>
			Мира.
			13
		</td>
		<td>
			51167
		</td>
	</tr>
	<tr>
		<td>
			Подгурская
			А.Ю.
		</td>
		<td>
			Победы,
			48
		</td>
		<td>
			51557
		</td>
	</tr>
	<tr>
		<td>
			Подгурский
			В.П.
		</td>
		<td>
			Победы,
			6
		</td>
		<td>
			51294
		</td>
	</tr>
	<tr>
		<td>
			Подлубняк
			А.П.
		</td>
		<td>
			Космонавтов,
			36
		</td>
		<td>
			51425
		</td>
	</tr>
	<tr>
		<td>
			Подмазко
			П.В.
		</td>
		<td>
			50
			Лет Октября,
			24
		</td>
		<td>
			51247
		</td>
	</tr>
	<tr>
		<td>
			Подуфалова
			П.О.
		</td>
		<td>
			Победы,
			33
		</td>
		<td>
			51190
		</td>
	</tr>
	<tr>
		<td>
			Позднжов
			Е.С.
		</td>
		<td>
			Железнодорожная.
			19
		</td>
		<td>
			51309
		</td>
	</tr>
	<tr>
		<td>
			Полесика
			Т.И.
		</td>
		<td>
			Шилова,
			151
		</td>
		<td>
			51371
		</td>
	</tr>
	<tr>
		<td>
			Полит
			Аева Е.Д.
		</td>
		<td>
			Зеленая,
			36
		</td>
		<td>
			51198
		</td>
	</tr>
	<tr>
		<td>
			Полищук
			Т.А,
		</td>
		<td>
			Королева,
			17
		</td>
		<td>
			51458
		</td>
	</tr>
	<tr>
		<td>
			Полтавцева
			С.А.
		</td>
		<td>
			Сиреневая,
			23
		</td>
		<td>
			51281
		</td>
	</tr>
	<tr>
		<td>
			Полянская
			Е.И.
		</td>
		<td>
			Зеленая,
			77
		</td>
		<td>
			51422
		</td>
	</tr>
	<tr>
		<td>
			Пономаренко
			В.И.
		</td>
		<td>
			Пионерская,
			5
		</td>
		<td>
			51438
		</td>
	</tr>
	<tr>
		<td>
			Пономаренко
			Е.Н.
		</td>
		<td>
			Строительная,
			6
		</td>
		<td>
			51562
		</td>
	</tr>
	<tr>
		<td>
			Попик
			П.Д.
		</td>
		<td>
			Пер.Мира,
			5
		</td>
		<td>
			51161
		</td>
	</tr>
	<tr>
		<td>
			Постовия
			Т.Е.
		</td>
		<td>
			Шилова,
			115
		</td>
		<td>
			51221
		</td>
	</tr>
	<tr>
		<td>
			Прибыло
			И. К.
		</td>
		<td>
			Комарова,22
		</td>
		<td>
			51234
		</td>
	</tr>
	<tr>
		<td>
			Протосавицкая
			Л. А.
		</td>
		<td>
			Виноградная,
			19
		</td>
		<td>
			51515
		</td>
	</tr>
	<tr>
		<td>
			Прошин
			И.И.
		</td>
		<td>
			Космонавтов,
			11
		</td>
		<td>
			51296
		</td>
	</tr>
	<tr>
		<td>
			Пустовойтенко
			В.П.
		</td>
		<td>
			Мира,
			27а
		</td>
		<td>
			51502
		</td>
	</tr>
	<tr>
		<td>
			Пырля
			В.С.
		</td>
		<td>
			Шилова,7
		</td>
		<td>
			51487
		</td>
	</tr>
	<tr>
		<td>
			Радионова
			В.Т.
		</td>
		<td>
			Шилова,
			63
		</td>
		<td>
			51145
		</td>
	</tr>
	<tr>
		<td>
			Радченко
			М.С.
		</td>
		<td>
			Пионерская,
			4
		</td>
		<td>
			51432
		</td>
	</tr>
	<tr>
		<td>
			Размаринцев
			П.В.
		</td>
		<td>
			Победы,
			51
		</td>
		<td>
			51546
		</td>
	</tr>
	<tr>
		<td>
			Рахманов
			А.В.
		</td>
		<td>
			Винявского,4/18
		</td>
		<td>
			51595
		</td>
	</tr>
	<tr>
		<td>
			Рилак
			В.Л
		</td>
		<td>
			Королева,
			10
		</td>
		<td>
			51113
		</td>
	</tr>
	<tr>
		<td>
			Рожко
			О.Я.
		</td>
		<td>
			Железнодорожная,
			35
		</td>
		<td>
			51476
		</td>
	</tr>
	<tr>
		<td>
			Романченко
			Л. А.
		</td>
		<td>
			Зеленая,
			53
		</td>
		<td>
			51378
		</td>
	</tr>
	<tr>
		<td>
			Ротар
			А.И.
		</td>
		<td>
			Новая,
			9
		</td>
		<td>
			51471
		</td>
	</tr>
	<tr>
		<td>
			Рубаха
			В.П.
		</td>
		<td>
			Южная,
			12
		</td>
		<td>
			51524
		</td>
	</tr>
	<tr>
		<td>
			Рубаха
			Н.С.
		</td>
		<td>
			Шилова,
			128
		</td>
		<td>
			51132
		</td>
	</tr>
	<tr>
		<td>
			Руденко
			М.И.
		</td>
		<td>
			Винявского,
			5/15
		</td>
		<td>
			51392
		</td>
	</tr>
	<tr>
		<td>
			Руденко
			М.Ф.
		</td>
		<td>
			Мира,
			11
		</td>
		<td>
			51274
		</td>
	</tr>
	<tr>
		<td>
			Рудь
			И.О.
		</td>
		<td>
			Пионерская,
			20
		</td>
		<td>
			51297
		</td>
	</tr>
	<tr>
		<td>
			Русиновская
			Л .М.
		</td>
		<td>
			Зеленая,
			38а
		</td>
		<td>
			51191
		</td>
	</tr>
	<tr>
		<td>
			Рябова
			Н.Н.
		</td>
		<td>
			Шилова,39
		</td>
		<td>
			51159
		</td>
	</tr>
</table>

<h3>СТ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Савченко
			А.Л.
		</td>
		<td>
			Шилова,51а
		</td>
		<td>
			51286
		</td>
	</tr>
	<tr>
		<td>
			Салыга
			Я.Г.
		</td>
		<td>
			Новая,
			24
		</td>
		<td>
			51414
		</td>
	</tr>
	<tr>
		<td>
			Саранчук
			Ю.Л
		</td>
		<td>
			Шилова.
			59
		</td>
		<td>
			51509
		</td>
	</tr>
	<tr>
		<td>
			Сауляк
			Лн.
		</td>
		<td>
			Олимпийская,
			12
		</td>
		<td>
			51498
		</td>
	</tr>
	<tr>
		<td>
			Сахненко
			К.В.
		</td>
		<td>
			Победы,
			21
		</td>
		<td>
			51325
		</td>
	</tr>
	<tr>
		<td>
			Свинарева
			М.Т.
		</td>
		<td>
			Новая,
			4
		</td>
		<td>
			51481
		</td>
	</tr>
	<tr>
		<td>
			Свузинский
			Н.И.
		</td>
		<td>
			Комарова,42
		</td>
		<td>
			51523
		</td>
	</tr>
	<tr>
		<td>
			Семенова
			Г.И.
		</td>
		<td>
			Шилова.
			57
		</td>
		<td>
			51264
		</td>
	</tr>
	<tr>
		<td>
			Семенович
			В.М.
		</td>
		<td>
			Шилова,71
		</td>
		<td>
			51225
		</td>
	</tr>
	<tr>
		<td>
			Семенович
			С.В.
		</td>
		<td>
			Шилова,
			141
		</td>
		<td>
			51507
		</td>
	</tr>
	<tr>
		<td>
			Семенкж
			Л.П.
		</td>
		<td>
			50
			Лет Октября,
			3
		</td>
		<td>
			51152
		</td>
	</tr>
	<tr>
		<td>
			Сербии
			П.В.
		</td>
		<td>
			Школьная,
			13
		</td>
		<td>
			51254.
		</td>
	</tr>
	<tr>
		<td>
			Сербина
			В.Н.
		</td>
		<td>
			Железнодорожная,
			40/3
		</td>
		<td>
			51365
		</td>
	</tr>
	<tr>
		<td>
			Сердега
			В.С.
		</td>
		<td>
			Винявского,
			5/14
		</td>
		<td>
			51391
		</td>
	</tr>
	<tr>
		<td>
			Сивак
			И.С.
		</td>
		<td>
			Новоселов,
			1
		</td>
		<td>
			51521
		</td>
	</tr>
	<tr>
		<td>
			Симак
			Д. У.
		</td>
		<td>
			Железнодорожная,
			10
		</td>
		<td>
			51364
		</td>
	</tr>
	<tr>
		<td>
			Скиданюк
			Е.Д
		</td>
		<td>
			Шилова,
			8
		</td>
		<td>
			51504
		</td>
	</tr>
	<tr>
		<td>
			Скребнев
			А.Ф.
		</td>
		<td>
			Шилова,
			69
		</td>
		<td>
			51214
		</td>
	</tr>
	<tr>
		<td>
			Слободняк
			Е.В.
		</td>
		<td>
			Победы,
			64
		</td>
		<td>
			51328
		</td>
	</tr>
	<tr>
		<td>
			Слюсаренко
			В.М.
		</td>
		<td>
			Новая,
			3
		</td>
		<td>
			51464
		</td>
	</tr>
	<tr>
		<td>
			Слюсаренко
			О.С.
		</td>
		<td>
			Школьная,
			18
		</td>
		<td>
			51311
		</td>
	</tr>
	<tr>
		<td>
			Соловей
			И.И.
		</td>
		<td>
			Пер.
			Шилова, 18
		</td>
		<td>
			51118
		</td>
	</tr>
	<tr>
		<td>
			Соломиевич
			А.А.
		</td>
		<td>
			Пер.
			Железнодорожный.
			12
		</td>
		<td>
			51290
		</td>
	</tr>
	<tr>
		<td>
			Соломиевич
			В.В.
		</td>
		<td>
			Космонавтов,
			27
		</td>
		<td>
			51408
		</td>
	</tr>
	<tr>
		<td>
			Солун
			В.В.
		</td>
		<td>
			Королева,
			8
		</td>
		<td>
			51122
		</td>
	</tr>
	<tr>
		<td>
			Станиславова
			Л.Г.
		</td>
		<td>
			Винявского,
			5/3
		</td>
		<td>
			51590
		</td>
	</tr>
	<tr>
		<td>
			Стасовский
			А.И.
		</td>
		<td>
			Элеваторная,
			5/6
		</td>
		<td>
			51518
		</td>
	</tr>
	<tr>
		<td>
			Стацунова
			Л.Д.
		</td>
		<td>
			Олимпийская,
			4
		</td>
		<td>
			51495
		</td>
	</tr>
	<tr>
		<td>
			Стефанович
			Н.П.
		</td>
		<td>
			Железнодорожная.
			42/33
		</td>
		<td>
			51455
		</td>
	</tr>
	<tr>
		<td>
			Стойкий
			П.В.
		</td>
		<td>
			Мира
			8
		</td>
		<td>
			51348
		</td>
	</tr>
	<tr>
		<td>
			Стоянов
			В.Д.
		</td>
		<td>
			Виноградная,
			2
		</td>
		<td>
			51342
		</td>
	</tr>
	<tr>
		<td>
			Стратиевский
			И.А.
		</td>
		<td>
			Элеваторная,
			12/2
		</td>
		<td>
			51533
		</td>
	</tr>
	<tr>
		<td>
			Студзинский
			В.Н.
		</td>
		<td>
			Новоселов,
			9
		</td>
		<td>
			51269
		</td>
	</tr>
	<tr>
		<td>
			Сукачук
			Н.Д
		</td>
		<td>
			Новая,
			5
		</td>
		<td>
			51307
		</td>
	</tr>
	<tr>
		<td>
			Суслов
			С.П.
		</td>
		<td>
			Шилова,
			77
		</td>
		<td>
			51519
		</td>
	</tr>
	<tr>
		<td>
			Сушко
			Л.А.
		</td>
		<td>
			Зеленая,
			4
		</td>
		<td>
			51181
		</td>
	</tr>
	<tr>
		<td>
			Сычев
			Д.В.
		</td>
		<td>
			Винявского,
			6/1
		</td>
		<td>
			51591
		</td>
	</tr>
	<tr>
		<td>
			Сюмак
			Л.Г.
		</td>
		<td>
			Победы,
			1
		</td>
		<td>
			51505
		</td>
	</tr>
	<tr>
		<td>
			Танасюк
			Г.М.
		</td>
		<td>
			Элеваторная,
			5/2
		</td>
		<td>
			51583
		</td>
	</tr>
	<tr>
		<td>
			Тахтатов
			А.Ю
		</td>
		<td>
			Южная,
			24
		</td>
		<td>
			51344
		</td>
	</tr>
	<tr>
		<td>
			Титаренко
			М.К.
		</td>
		<td>
			Виноградная,9
		</td>
		<td>
			51346
		</td>
	</tr>
	<tr>
		<td>
			Тихий
			В.В.
		</td>
		<td>
			Л.
			Украинки, 14
		</td>
		<td>
			51142
		</td>
	</tr>
	<tr>
		<td>
			Ткачук
			В.Д
		</td>
		<td>
			Пер.Шилова,
			1
		</td>
		<td>
			51233
		</td>
	</tr>
	<tr>
		<td>
			Ткачук
			В.С.
		</td>
		<td>
			Спортивная,
			51
		</td>
		<td>
			51594
		</td>
	</tr>
	<tr>
		<td>
			Толмачев
			О.И.
		</td>
		<td>
			50
			Лет Октября
			25
		</td>
		<td>
			51246
		</td>
	</tr>
	<tr>
		<td>
			Трандафир
			Г.Т.
		</td>
		<td>
			50
			Лет Октября,
			8
		</td>
		<td>
			51206
		</td>
	</tr>
	<tr>
		<td>
			Трофанкж
			В.П.
		</td>
		<td>
			Королева,7
		</td>
		<td>
			51453
		</td>
	</tr>
	<tr>
		<td>
			Троцко
			А. А.
		</td>
		<td>
			Пионерская,
			4
		</td>
		<td>
			51482
		</td>
	</tr>
	<tr>
		<td>
			Турунькина
			О.Т.
		</td>
		<td>
			Победы,
			58
		</td>
		<td>
			51559
		</td>
	</tr>
	<tr>
		<td>
			Тымчик
			П.Я.
		</td>
		<td>
			Шилова,
			105
		</td>
		<td>
			51212
		</td>
	</tr>
</table>

<h3>УФХЦ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Удовенчук
			В.В.
		</td>
		<td>
			Мира,
			42
		</td>
		<td>
			51276
		</td>
	</tr>
	<tr>
		<td>
			Умрихина
			З.И.
		</td>
		<td>
			Победы,
			16
		</td>
		<td>
			51229
		</td>
	</tr>
	<tr>
		<td>
			Фабоювская
			Л.П.
		</td>
		<td>
			Победы,
			81
		</td>
		<td>
			51400
		</td>
	</tr>
	<tr>
		<td>
			Федоренко
			А.В.
		</td>
		<td>
			Механизаторов.
			2
		</td>
		<td>
			51376
		</td>
	</tr>
	<tr>
		<td>
			Федоренко
			А.Е.
		</td>
		<td>
			Зеленая,
			6
		</td>
		<td>
			51183
		</td>
	</tr>
	<tr>
		<td>
			Федоренко
			В.А.
		</td>
		<td>
			Южная
			26
		</td>
		<td>
			51170
		</td>
	</tr>
	<tr>
		<td>
			Федоренко
			В.И.
		</td>
		<td>
			Зеленая,
			49
		</td>
		<td>
			51109
		</td>
	</tr>
	<tr>
		<td>
			Федоренко
			И.Н.
		</td>
		<td>
			Победы,
			37
		</td>
		<td>
			51107
		</td>
	</tr>
	<tr>
		<td>
			Федорова
			И.Н.
		</td>
		<td>
			Олимпийская,
			10
		</td>
		<td>
			51497
		</td>
	</tr>
	<tr>
		<td>
			Феохарц
			С.Н.
		</td>
		<td>
			Космонавтов,
			81
		</td>
		<td>
			51317
		</td>
	</tr>
	<tr>
		<td>
			Феткулина
			Л.А.
		</td>
		<td>
			Зеленая,
			30
		</td>
		<td>
			51194
		</td>
	</tr>
	<tr>
		<td>
			Фещенко
			И.И.
		</td>
		<td>
			50
			Лет Октября,
			33 А
		</td>
		<td>
			51251
		</td>
	</tr>
	<tr>
		<td>
			Фещенко
			Т.А.
		</td>
		<td>
			Новая,
			6
		</td>
		<td>
			51466
		</td>
	</tr>
	<tr>
		<td>
			Филипишин
			П.Е.
		</td>
		<td>
			Зирка
		</td>
		<td>
			51570
		</td>
	</tr>
	<tr>
		<td>
			Филиппов
			В.Д.
		</td>
		<td>
			Шилова.49
		</td>
		<td>
			51163
		</td>
	</tr>
	<tr>
		<td>
			Фисун
			Л.А.
		</td>
		<td>
			Шилова,
			62
		</td>
		<td>
			51148
		</td>
	</tr>
	<tr>
		<td>
			Фиц
			Л.Ф.
		</td>
		<td>
			Космонавтов,
			5а
		</td>
		<td>
			51208
		</td>
	</tr>
	<tr>
		<td>
			Фролова
			Д.И.
		</td>
		<td>
			Мира,
			36
		</td>
		<td>
			51503
		</td>
	</tr>
	<tr>
		<td>
			Фуштейн
			Е.В.
		</td>
		<td>
			Космонавтов,
			62
		</td>
		<td>
			51575
		</td>
	</tr>
	<tr>
		<td>
			Хаецкая
			Г.С.
		</td>
		<td>
			Шилова,
			59А
		</td>
		<td>
			51144
		</td>
	</tr>
	<tr>
		<td>
			Хлевнюк
			М. Т.
		</td>
		<td>
			Шилова,
			132
		</td>
		<td>
			51340
		</td>
	</tr>
	<tr>
		<td>
			Хомик
			М.Ю.
		</td>
		<td>
			50
			Лет Октября,
			20
		</td>
		<td>
			51248
		</td>
	</tr>
	<tr>
		<td>
			Хомик
			С.Н.
		</td>
		<td>
			Шилова,
			27
		</td>
		<td>
			51321
		</td>
	</tr>
	<tr>
		<td>
			Хорошев
			Д.Ю.
		</td>
		<td>
			Агапева.
			19
		</td>
		<td>
			51389
		</td>
	</tr>
	<tr>
		<td>
			Цитульская
			М.Р.
		</td>
		<td>
			Новая,
			27
		</td>
		<td>
			51359
		</td>
	</tr>
	<tr>
		<td>
			Цуканов
			А.В.
		</td>
		<td>
			Винявского,
			4/3
		</td>
		<td>
			51370
		</td>
	</tr>
	<tr>
		<td>
			Цуркан
			О.В.
		</td>
		<td>
			Винявского,
			3/12
		</td>
		<td>
			51304
		</td>
	</tr>
	<tr>
		<td>
			Цыбуля
			В.Т.
		</td>
		<td>
			Южная,9
		</td>
		<td>
			51177
		</td>
	</tr>
	<tr>
		<td>
			Цыбуля
			М.К.
		</td>
		<td>
			Мира,
			39
		</td>
		<td>
			51171
		</td>
	</tr>
	<tr>
		<td>
			Цымбалюк
			А.Г.
		</td>
		<td>
			Беспалько,
			2
		</td>
		<td>
			51295
		</td>
	</tr>
</table>

<h3>ЧШЩЯ</h3>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			Фамилия
			И.О.
		</th>
		<th>
			Адрес
		</th>
		<th>
			Номер
			телефона
		</th>
	</tr>
	<tr>
		<td>
			Чабан
			Е.С.
		</td>
		<td>
			Южная,
			6
		</td>
		<td>
			51593
		</td>
	</tr>
	<tr>
		<td>
			Чабан
			Н.П.
		</td>
		<td>
			Победы,
			30
		</td>
		<td>
			51199
		</td>
	</tr>
	<tr>
		<td>
			Чабанов
			И.М.
		</td>
		<td>
			Новая,
			7
		</td>
		<td>
			51116
		</td>
	</tr>
	<tr>
		<td>
			Чайка
			Е.М.
		</td>
		<td>
			Королева,
			1
		</td>
		<td>
			51456
		</td>
	</tr>
	<tr>
		<td>
			Чекерис
			Л.М
		</td>
		<td>
			Мира,9
		</td>
		<td>
			51273
		</td>
	</tr>
	<tr>
		<td>
			Черватюк
			К. А.
		</td>
		<td>
			Космонавтов,
			11
		</td>
		<td>
			51266
		</td>
	</tr>
	<tr>
		<td>
			Чернега
			Н.В.
		</td>
		<td>
			Мира,
			21
		</td>
		<td>
			51165
		</td>
	</tr>
	<tr>
		<td>
			Чернобай
			А.В.
		</td>
		<td>
			Винявского,
			5/2
		</td>
		<td>
			51443
		</td>
	</tr>
	<tr>
		<td>
			Чумак
			Л.М.
		</td>
		<td>
			Комарова,
			71
		</td>
		<td>
			51293
		</td>
	</tr>
	<tr>
		<td>
			Чумаченко
			А.П.
		</td>
		<td>
			Южная,
			15
		</td>
		<td>
			51514
		</td>
	</tr>
	<tr>
		<td>
			Шаповал
			Л.Н.
		</td>
		<td>
			Космонавтов,
			37
		</td>
		<td>
			51119
		</td>
	</tr>
	<tr>
		<td>
			Шарандак
			А.И.
		</td>
		<td>
			Комарова,
			17
		</td>
		<td>
			51508
		</td>
	</tr>
	<tr>
		<td>
			Шарандак
			А.П.
		</td>
		<td>
			Железнодорожная,
			38/5
		</td>
		<td>
			51580
		</td>
	</tr>
	<tr>
		<td>
			Шарафаненко
			А.Т.
		</td>
		<td>
			Победы,
			46
		</td>
		<td>
			51320
		</td>
	</tr>
	<tr>
		<td>
			Швец
			В.Н.
		</td>
		<td>
			Шилова,
			95
		</td>
		<td>
			51227
		</td>
	</tr>
	<tr>
		<td>
			Швец
			Н.Т.
		</td>
		<td>
			50лбтоктября
			10
		</td>
		<td>
			51242
		</td>
	</tr>
	<tr>
		<td>
			Шевченко
			В.Т.
		</td>
		<td>
			Победы,
			13
		</td>
		<td>
			51103
		</td>
	</tr>
	<tr>
		<td>
			Шевченко
			М.Е.
		</td>
		<td>
			Винявского,
			5/13
		</td>
		<td>
			51284
		</td>
	</tr>
	<tr>
		<td>
			Шевченко
			Н.Г.
		</td>
		<td>
			Мира
			7
		</td>
		<td>
			51347
		</td>
	</tr>
	<tr>
		<td>
			Шевчук
			В.Н.
		</td>
		<td>
			Железнодорожная,
			34
		</td>
		<td>
			51357
			'
		</td>
	</tr>
	<tr>
		<td>
			Шевчук
			И.С.
		</td>
		<td>
			Железнодорожная
		</td>
		<td>
			51352
		</td>
	</tr>
	<tr>
		<td>
			Шевчук
			Н.И.
		</td>
		<td>
			Виноградная,
			11
		</td>
		<td>
			51569
		</td>
	</tr>
	<tr>
		<td>
			Шишкунова
			Н.К.
		</td>
		<td>
			Космонавтов,
			72
		</td>
		<td>
			51427
		</td>
	</tr>
	<tr>
		<td>
			Шкиль
			В.Л.
		</td>
		<td>
			Зеленая,23
		</td>
		<td>
			51218
		</td>
	</tr>
	<tr>
		<td>
			Шкилб
			Н.М.
		</td>
		<td>
			Киевская,
			19
		</td>
		<td>
			51574
		</td>
	</tr>
	<tr>
		<td>
			Шлыков
			В.П.
		</td>
		<td>
			Винявского,
			3/16
		</td>
		<td>
			51484
		</td>
	</tr>
	<tr>
		<td>
			Штаб
			Н.Г.
		</td>
		<td>
			Элеваторная,
			4/2
		</td>
		<td>
			5156
		</td>
	</tr>
	<tr>
		<td>
			Штыка
			В.И.
		</td>
		<td>
			50
			Лет Октября
			2
		</td>
		<td>
			51419
		</td>
	</tr>
	<tr>
		<td>
			Штыка
			Л.П.
		</td>
		<td>
			Винявского.
			3/11
		</td>
		<td>
			51479
		</td>
	</tr>
	<tr>
		<td>
			Шуба
			Т.И.
		</td>
		<td>
			Винявского,
			1/3
		</td>
		<td>
			51486
		</td>
	</tr>
	<tr>
		<td>
			Шудра
			Я.И.
		</td>
		<td>
			Юбилейная,
			4
		</td>
		<td>
			51338
		</td>
	</tr>
	<tr>
		<td>
			Шулянский
			В.Т.
		</td>
		<td>
			Победы,
			52
		</td>
		<td>
			51558
		</td>
	</tr>
	<tr>
		<td>
			Шумилова
			А.П.
		</td>
		<td>
			Пионерская,
			6
		</td>
		<td>
			51587
		</td>
	</tr>
	<tr>
		<td>
			Шустинский
			В.С.
		</td>
		<td>
			Элеваторная
		</td>
		<td>
			51534
		</td>
	</tr>
	<tr>
		<td>
			Шутыло
			Б.С.
		</td>
		<td>
			Новая,
			10
		</td>
		<td>
			51468
		</td>
	</tr>
	<tr>
		<td>
			Шутыло
			С.Б.
		</td>
		<td>
			Виноградная,
			7
		</td>
		<td>
			51345
		</td>
	</tr>
	<tr>
		<td>
			Шушман
			В.М.
		</td>
		<td>
			Железнодорожная,
			13
		</td>
		<td>
			51306
		</td>
	</tr>
	<tr>
		<td>
			Щербий
			Л.Н
		</td>
		<td>
			Виноградная,
			15
		</td>
		<td>
			51477
		</td>
	</tr>
	<tr>
		<td>
			Щербина
			Л. А.
		</td>
		<td>
			Мира,
			21а
		</td>
		<td>
			51537
		</td>
	</tr>
	<tr>
		<td>
			Ядченко
			Г.Ф.
		</td>
		<td>
			Королева,
			3
		</td>
		<td>
			51111
		</td>
	</tr>
	<tr>
		<td>
			Яковлева
			В.Н.
		</td>
		<td>
			Новоселов,
			25
		</td>
		<td>
			51552
		</td>
	</tr>
	<tr>
		<td>
			Яцук
			Ю.М.
		</td>
		<td>
			Строительная,
			2
		</td>
		<td>
			51155
		</td>
	</tr>
</table>
