<h2>Расписание электричек</h2>
<h3>Одесса - Выгода</h3>
<iframe frameborder="0"
        style="-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); overflow: hidden; border: 0; width: 700px; height: 350px;"
        src="https://rasp.yandex.ua/informers/search/?fromId=c145&amp;toId=s9616420&amp;size=5&amp;color=1&amp;type=suburban"></iframe>

<h3>Выгода - Одесса</h3>
<iframe frameborder="0"
        style="-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); overflow: hidden; border: 0; width: 700px; height: 350px;"
        src="https://rasp.yandex.ua/informers/search/?fromId=s9616420&amp;toId=c145&amp;size=5&amp;color=1&amp;type=suburban"></iframe>