<h3 class="text-center"><a href="/videos">Коллекции видео</a> / {{playlistTitle}}</h3>
<div class="container-fluid">

      <div class="col-md-6 text-center" ng-repeat="video in videos.items">
          <ng-include src="'modules/video/view/video-detail.html'"></ng-include>
      </div>

    <nav>
        <ul class="pager">
            <li><a ng-show="videos.prevPageToken" ng-href="/videos/{{playlistTitle}}/page/{{videos.prevPageToken}}">Новее</a></li>
            <li><a ng-show="videos.nextPageToken" ng-href="/videos/{{playlistTitle}}/page/{{videos.nextPageToken}}">Старее</a></li>
        </ul>
    </nav>
  </div>

