{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
{% if false and config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h4>Related Posts</h4>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% if false and config.plugins.random.enabled %}
<div class="sidebar-content">
	<h4>Random Article</h4>
	<a class="button" href="{{ base_url_relative }}/random"><i class="fa fa-retweet"></i> I'm Feeling Lucky!</a>
</div>
{% endif %}
<div class="sidebar-content">
    <h4>Афиша</h4>
    <div style='position: relative; padding-bottom: 151%; height: 0; overflow: hidden;'>
        <iframe id='iframe'
                src='http://flickrit.com/slideshowholder.php?height=150&size=big&speed=10&setId={{ site.posters_flickr }}&trans=1&theme=1&thumbnails=0&transition=1&layoutType=responsive&sort=0'
                scrolling='no' frameborder='0'
                style='width:100%; height:100%; position: absolute; top:0; left:0;'></iframe>
    </div>
</div>
{% if false and config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h4>Popular Tags</h4>
    {% include 'partials/taxonomylist.html.twig' with {'taxonomy':'tag'} %}
</div>
{% endif %}
{% if false and config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h4>Archives</h4>
	{% include 'partials/archives.html.twig' %}
</div>
{% endif %}
{% if false and config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
    <h4>Syndicate</h4>
    <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</div>
{% endif %}