<div class="panel panel-default" ng-show="!event.vkPost">
    <div class="panel-heading">
        <div class="pull-left">
            <div>{{event.created | date: 'HH:mm:ss'}}</div>
            <div>{{event.created | date: 'dd.MM.yyyy'}}</div>
        </div>

        <ng-include src="'modules/event/view/event-header-controls.html'"></ng-include>

        <div class="text-center"><a href="/event/{{event.objectId}}"><h4>{{event.title}}</h4></a></div>

    </div>
    <div class="panel-body">
        <div ng-show="!event.isHtml" btf-markdown="event.summary"></div>
        <div ng-show="event.isHtml" ng-bind-html="trustAsHtml(event.summary)"></div>
        <div ng-show="!detailed"><a href="/event/{{event.objectId}}">Подробнее...</a></div>

        <div ng-show="detailed && !event.isHtml" btf-markdown="event.content"></div>
        <div ng-show="detailed && event.isHtml" ng-bind-html="trustAsHtml(event.content)"></div>

        <ng-include ng-show="!event.vkPost" src="'modules/event/view/share-panel.html'"></ng-include>

        <div>Автор: {{event.author}}</div>
    </div>
</div>

<div ng-show="event.vkPost">
    <ng-include src="'modules/event/view/event-header-controls.html'"></ng-include>

    <div btf-markdown="event.vkPost"></div>
    <div style="height: 15px">&nbsp;</div>
</div>

<div class="comments" ng-show="detailed">
    <!--Временно отключены комментарии FB, т.к. vk более приоритетны-->
   <!-- <div class="fb-comments" onrender="fbLikeRendered()"
         data-href="{{ location.absUrl() }}"
         data-layout="standard"
         data-action="like"
         data-show-faces="true"
         data-share="true"></div> -->

    <div id="vk_comments"></div>
</div>
