<tabset>
    <tab heading="Редактирование">
        <form name="editForm">
            <div class="form-group" ng-class="{ 'has-error': editForm.titleEdit.$invalid }">
                <label for="titleEdit">Название*</label>
                <input type="text" ng-model="event.title" class="form-control" id="titleEdit" placeholder="Название">
            </div>
            <div class="form-group">
                <label for="vkPostEdit">VK Пост (если заполнено это поле, то игнорируются все остальные)</label>
                <input type="text"  ng-model="event.vkPost" id="vkPostEdit" class="form-control" placeholder="Код VK поста">
            </div>
            <div class="form-group">
                <label for="socialImageEdit">Картинка для соц. сетей</label>
                <input type="text"  ng-model="event.socialImage" id="socialImageEdit" class="form-control" placeholder="Картинка для соц. сетей">
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.authorEdit.$invalid }">
                <label for="authorEdit">Автор*</label>
                <input type="text" ng-model="event.author" class="form-control" id="authorEdit" placeholder="Автор">
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.summaryEdit.$invalid }">
                <label for="summaryEdit">Краткое содержание*</label>
                <textarea class="form-control" rows="7" ng-model="event.summary" id="summaryEdit"></textarea>
            </div>
            <div class="form-group">
                <label for="contentEdit">Текст</label>
                <textarea class="form-control" rows="12" ng-model="event.content" id="contentEdit"></textarea>
            </div>
            <p class="bg-info">* Обязательные поля</p>
            <button class="btn btn-success" ng-disabled="editForm.$invalid" ng-click="save()">Сохранить</button>
            <button class="btn btn-danger pull-right" ng-show="eventId" ng-click="delete()">Удалить</button>
        </form>
    </tab>
    <tab heading="Предпросмотр">
        <ng-include src="'modules/event/view/event-detail.html'"></ng-include>
    </tab>
    <tab heading="HTML для вставки">
        <input type="text" ng-model="event.title" class="form-control" placeholder="Название"  select-on-click>

        <textarea class="form-control" rows="15" readonly="readonly" select-on-click>
<!-- Краткое содержание -->
{{event.summary | md}}

<!-- Текст -->
{{event.content | md}}
        </textarea>
    </tab>

</tabset>


