{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
    <div class="content-padding simplesearch">
    <h1 class="search-header">Результаты поиска</h1>
    <div class="center">
        {% include 'partials/simplesearch_searchbox.html.twig' %}

    </div>


    <p>Запрос: <strong>{{ query }}</strong> найдено {{ search_results.count }} результат(ов)</p>
    {% for page in search_results %}
        {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
    {% endfor %}
    </div>
{% endblock %}
