<!--<div id="map_canvas" >-->
<!--<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">-->
<!--<ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>-->
<!--</ui-gmap-google-map>-->
<!--</div>-->

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="http://www.openstreetmap.org/export/embed.html?bbox=30.36908626556396%2C46.60139556509742%2C30.425734519958496%2C46.628515744678054&amp;layer=mapnik"
        style="border: 1px solid black"></iframe><br/>
<small><a href="http://www.openstreetmap.org/#map=15/46.6150/30.3974">Посмотреть более крупную карту</a></small>

<br/>
<br/>

<h3>Список улиц с. Выгода</h3>
<table  class="table table-bordered table-striped">
    <tr>
        <th>
            №
        </th>
        <th>
            Название
        </th>
        <th>
            Количество
            жилых домов
        </th>
    </tr>
    <tr>
        <td>
            1
        </td>
        <td>
            ул.
            Агапьева
        </td>
        <td>
            12
        </td>
    </tr>
    <tr>
        <td>
            2
        </td>
        <td>
            ул.Безпалько
        </td>
        <td>
            14
        </td>
    </tr>
    <tr>
        <td>
            3
        </td>
        <td>
            ул.
            Винявского
        </td>
        <td>
            15
        </td>
    </tr>
    <tr>
        <td>
            4
        </td>
        <td>
            ул.
            Виноградная
        </td>
        <td>
            20
        </td>
    </tr>
    <tr>
        <td>
            5
        </td>
        <td>
            ул.
            Железнодорожная
        </td>
        <td>
            37
        </td>
    </tr>
    <tr>
        <td>
            6
        </td>
        <td>
            пер.
            Железнодорожный
        </td>
        <td>
            7
        </td>
    </tr>
    <tr>
        <td>
            7
        </td>
        <td>
            ул.
            Зеленая
        </td>
        <td>
            62
        </td>
    </tr>
    <tr>
        <td>
            8
        </td>
        <td>
            ул.
            Ивана Франка
        </td>
        <td>
            6
        </td>
    </tr>
    <tr>
        <td>
            9
        </td>
        <td>
            ул.
            Киевская
        </td>
        <td>
            7
        </td>
    </tr>
    <tr>
        <td>
            10
        </td>
        <td>
            ул.
            Комарова
        </td>
        <td>
            43
        </td>
    </tr>
    <tr>
        <td>
            11
        </td>
        <td>
            пер.
            Комарова
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            12
        </td>
        <td>
            ул.
            Королева
        </td>
        <td>
            27
        </td>
    </tr>
    <tr>
        <td>
            13
        </td>
        <td>
            ул.
            Космонавтов
        </td>
        <td>
            71
        </td>
    </tr>
    <tr>
        <td>
            14
        </td>
        <td>
            ул.
            Котляревского
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            15
        </td>
        <td>
            ул.
            Леси Украинки
        </td>
        <td>
            7
        </td>
    </tr>
    <tr>
        <td>
            16
        </td>
        <td>
            ул.
            Механизаторов
        </td>
        <td>
            11
        </td>
    </tr>
    <tr>
        <td>
            17
        </td>
        <td>
            ул.
            Мира
        </td>
        <td>
            29
        </td>
    </tr>
    <tr>
        <td>
            18
        </td>
        <td>
            пер.
            Мира
        </td>
        <td>
            3
        </td>
    </tr>
    <tr>
        <td>
            19
        </td>
        <td>
            ул.
            Молодежная
        </td>
        <td>
            8
        </td>
    </tr>
    <tr>
        <td>
            20
        </td>
        <td>
            ул.
            Новая
        </td>
        <td>
            31
        </td>
    </tr>
    <tr>
        <td>
            21
        </td>
        <td>
            ул.
            Новоселова
        </td>
        <td>
            39
        </td>
    </tr>
    <tr>
        <td>
            22
        </td>
        <td>
            ул.
            0лимпийская
        </td>
        <td>
            17
        </td>
    </tr>
    <tr>
        <td>
            23
        </td>
        <td>
            ул.
            Парковая
        </td>
        <td>
            6
        </td>
    </tr>
    <tr>
        <td>
            24
        </td>
        <td>
            ул.
            Пионерская
        </td>
        <td>
            15
        </td>
    </tr>
    <tr>
        <td>
            25
        </td>
        <td>
            ул.
            Победы
        </td>
        <td>
            65
        </td>
    </tr>
    <tr>
        <td>
            26
        </td>
        <td>
            ул.
            Пушкинская
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            27
        </td>
        <td>
            ул.
            Радосная
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            28
        </td>
        <td>
            ул.
            Сереневая
        </td>
        <td>
            3
        </td>
    </tr>
    <tr>
        <td>
            29
        </td>
        <td>
            ул.
            Степная
        </td>
        <td>
            5
        </td>
    </tr>
    <tr>
        <td>
            30
        </td>
        <td>
            ул.
            Строительная
        </td>
        <td>
            23
        </td>
    </tr>
    <tr>
        <td>
            31
        </td>
        <td>
            ул.
            Солнечная
        </td>
        <td>
            6
        </td>
    </tr>
    <tr>
        <td>
            32
        </td>
        <td>
            ул.
            Спортивная
        </td>
        <td>
            58
        </td>
    </tr>
    <tr>
        <td>
            33
        </td>
        <td>
            ул.
            Утесова
        </td>
        <td>
            9
        </td>
    </tr>
    <tr>
        <td>
            34
        </td>
        <td>
            ул.
            Школьная
        </td>
        <td>
            22
        </td>
    </tr>
    <tr>
        <td>
            35
        </td>
        <td>
            ул.
            Шилова
        </td>
        <td>
            158
        </td>
    </tr>
    <tr>
        <td>
            36
        </td>
        <td>
            пер.
            Шилова
        </td>
        <td>
            11
        </td>
    </tr>
    <tr>
        <td>
            37
        </td>
        <td>
            ул.
            Шевченка
        </td>
        <td>
            4
        </td>
    </tr>
    <tr>
        <td>
            38
        </td>
        <td>
            ул.
            Элеваторная
        </td>
        <td>
            19
        </td>
    </tr>
    <tr>
        <td>
            39
        </td>
        <td>
            ул.
            Южная
        </td>
        <td>
            24
        </td>
    </tr>
    <tr>
        <td>
            40
        </td>
        <td>
            ул.
            Юбилейная
        </td>
        <td>
            41
        </td>
    </tr>
    <tr>
        <td>
            41
        </td>
        <td>
            пер.
            Юбилейный
        </td>
        <td>
            7
        </td>
    </tr>
    <tr>
        <td>
            42
        </td>
        <td>
            ул.
            Ягодная
        </td>
        <td>
            1
        </td>
    </tr>
    <tr>
        <td>
            43
        </td>
        <td>
            ул.
            50 лет Октября
        </td>
        <td>
            38
        </td>
    </tr>
    <tr>
        <td>
            44
        </td>
        <td>
            1471
            км
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            45
        </td>
        <td>
            1473
            км
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            46
        </td>
        <td>
            1475
            км
        </td>
        <td>
            2
        </td>
    </tr>
    <tr>
        <td>
            47
        </td>
        <td>
            1478
            км
        </td>
        <td>
            7
        </td>
    </tr>
    <tr>
        <td>
            48
        </td>
        <td>
            1481
            км
        </td>
        <td>
            2
        </td>
    </tr>
</table>
